[package]
name = "async-compression"
version = "0.3.15"
authors = ["Wim Looman <wim@nemo157.com>", "Allen Bui <fairingrey@gmail.com>"]
edition = "2018"
license = "MIT OR Apache-2.0"
keywords = ["compression", "gzip", "zstd", "brotli", "async"]
categories = ["compression", "asynchronous"]
repository = "https://github.com/Nemo157/async-compression"
description = """
Adaptors between compression crates and Rust's modern asynchronous IO types.
"""

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[features]
# groups
default = []
all = ["all-implementations", "all-algorithms"]
all-implementations = ["futures-io", "stream", "tokio-02", "tokio-03", "tokio"]
all-algorithms = ["brotli", "bzip2", "deflate", "gzip", "lzma", "xz", "zlib", "zstd"]

# algorithms
deflate = ["flate2"]
gzip = ["flate2"]
lzma = ["xz2"]
xz = ["xz2"]
zlib = ["flate2"]
zstd = ["libzstd", "zstd-safe"]

# deprecated
stream = ["bytes-05"]
futures-bufread = ["futures-io"]
futures-write = ["futures-io"]

[dependencies]
xz2 = { version = "0.1.6", optional = true }
brotli = { version = "3.3.0", optional = true, default-features = false, features = ["std"] }
bytes-05 = { package = "bytes", version = "0.5.0", optional = true }
bzip2 = { version = "0.4.1" , optional = true }
flate2 = { version = "1.0.11", optional = true }
futures-core = { version = "0.3.0", default-features = false }
futures-io = { version = "0.3.0", default-features = false, features = ["std"], optional = true }
pin-project-lite = "0.2.0"
libzstd = { package = "zstd", version = "0.11.1", optional = true, default-features = false }
zstd-safe = { version = "5.0.1", optional = true, default-features = false }
memchr = "2.5.0"
tokio-02 = { package = "tokio", version = "0.2.21", optional = true, default-features = false }
tokio-03 = { package = "tokio", version = "0.3.0", optional = true, default-features = false }
tokio = { version = "1.0.0", optional = true, default-features = false }

[dev-dependencies]
proptest = "1.0.0"
proptest-derive = "0.3.0"
rand = "0.8.5"
futures = "0.3.5"
futures-test = "0.3.5"
ntest = "0.8.1"
bytes-05 = { package = "bytes", version = "0.5.0" }
bytes-06 = { package = "bytes", version = "0.6.0" }
bytes = "1.0.0"
tokio-02 = { package = "tokio", version = "0.2.21", default-features = false, features = ["io-util", "stream", "macros", "io-std"] }
tokio-03 = { package = "tokio", version = "0.3.0", default-features = false, features = ["io-util", "stream"] }
tokio = { version = "1.0.0", default-features = false, features = ["io-util"] }
tokio-util-03 = { package = "tokio-util", version = "0.3.0", default-features = false, features = ["codec"] }
tokio-util-04 = { package = "tokio-util", version = "0.4.0", default-features = false, features = ["io"] }
tokio-util-05 = { package = "tokio-util", version = "0.5.0", default-features = false, features = ["io"] }
tokio-util-06 = { package = "tokio-util", version = "0.6.0", default-features = false, features = ["io"] }

[[test]]
name = "brotli"
required-features = ["brotli"]

[[test]]
name = "bzip2"
required-features = ["bzip2"]

[[test]]
name = "deflate"
required-features = ["deflate"]

[[test]]
name = "gzip"
required-features = ["gzip"]

[[test]]
name = "lzma"
required-features = ["lzma"]

[[test]]
name = "xz"
required-features = ["xz"]

[[test]]
name = "zlib"
required-features = ["zlib"]

[[test]]
name = "zstd"
required-features = ["zstd"]

[[example]]
name = "zlib_tokio_02_write"
required-features = ["zlib", "tokio-02"]

[[example]]
name = "zstd_gzip"
required-features = ["zstd", "gzip", "tokio-02"]
