[package]
name = "async-compression"
version = "0.1.0-alpha.1"
authors = ["Wim Looman <wim@nemo157.com>", "Allen Bui <fairingrey@gmail.com>"]
edition = "2018"
license = "MIT OR Apache-2.0"
keywords = ["compress", "compression", "flate", "deflate", "gzip", "zlib", "zstd", "zstandard", "brotli", "async", "futures"]
categories = ["compression", "asynchronous"]
repository = "https://github.com/rustasync/async-compression"
description = """
Adaptors between compression crates and Rust's modern asynchronous IO types.
"""

[features]
default = ["bufread", "stream", "brotli", "deflate", "gzip", "zlib", "zstd"]
bufread = []
stream = ["bytes"]
brotli = ["brotli2"]
deflate = ["flate2"]
gzip = ["flate2"]
zlib = ["flate2"]
zstd = ["libzstd", "zstd-safe"]

[dependencies]
brotli2 = { version = "0.3.2", optional = true }
bytes = { version = "0.4.12", optional = true }
flate2 = { version = "1.0.7", optional = true }
futures-preview = "0.3.0-alpha.16"
pin-project = "0.3.2"
libzstd = { version = "0.4", optional = true, package = "zstd", default-features = false }
zstd-safe = { version = "1.4", optional = true, default-features = false }

[dev-dependencies]
proptest = "0.9.3"
pin-utils = "0.1.0-alpha.4"
proptest-derive = "0.1.1"
rand = "0.6.5"
futures-test-preview = "0.3.0-alpha.16"
