[advisories]
ignore = [
]

[licenses]
allow = [
  "MIT",
  "Apache-2.0",
  "BSD-3-Clause",
  "Unicode-3.0",
  "bzip2-1.0.6",
  "CC0-1.0",
]

[bans]
multiple-versions = "warn"
skip = [
]
skip-tree = [
  { name = "proptest", version = "1.0" },
]
