[graph]
all-features = true
exclude-dev = true

[advisories]
ignore = [
]

[licenses]
allow = [
  "MIT",
  "Apache-2.0",
  "BSD-3-Clause",
  "bzip2-1.0.6",
]

[bans]
multiple-versions = "warn"
skip = [
]
