name: base

env:
  RUST_BACKTRACE: 1

jobs:
  test:
    name: cargo test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions-rust-lang/setup-rust-toolchain@v1
    - run: cargo --locked test --workspace --all-features

on:
  merge_group:
    types: [checks_requested]
  pull_request:
    branches: [main]
