name: wasi

env:
  RUST_BACKTRACE: 1

jobs:
  build:
    name: Build for wasm32-wasip1-threads
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        toolchain: nightly
        target: wasm32-wasip1-threads
    - run: gh release download --repo WebAssembly/wasi-sdk --pattern 'wasi-sysroot-*.tar.gz'
      env:
        GH_TOKEN: ${{ github.token }}
    - name: Extract wasi-sysroot
      run: |
        mkdir -p wasi-sysroot
        tar xf wasi-sysroot-*.tar.gz --strip-components=1 -C wasi-sysroot
    - run: |
        cargo +nightly check --lib --features all-implementations,brotli,bzip2,deflate,gzip,lz4,lzma,xz,zlib,zstd,deflate64 --target wasm32-wasip1-threads
      env:
        CFLAGS_wasm32_wasip1_threads: --sysroot=${{ github.workspace }}/wasi-sysroot -I${{ github.workspace }}/wasi-sysroot/include/wasm32-wasip1-threads -L-I${{ github.workspace }}/wasi-sysroot/lib/wasm32-wasip1-threads

on:
    merge_group:
        types: [checks_requested]
    pull_request:
        branches: [main]
        types: [opened, synchronize, reopened, ready_for_review]
    push:
        branches:
            - main
